{% extends 'base.html.twig' %}

    {% block body %}
    <div>
        {% if posts|length > 0 %}
        {% for post in posts %}
        <div> 
            <a href = "{{ path('app_show_one' ,  {post: post.id}) }}">
            {{ post.title }}
            </a>
        </div>
        {% endfor %}
    {% else %}
        
    {% endif %}
    </div>
    {% endblock %}
    